{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h1>You Are Already Logged In!</h1>
{% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endif %}
{% endblock %}
