{% extends 'base.html' %}

{% block content %}

{% if profile %}
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1>{{ profile.user.username }}'s Profile</h1>

                <br><br>

                {% if posts %}
                    {% for post in posts %}
                        <div class="alert alert-dark" role="alert">
                            {{ post.body }}
                            <br>
                            <small class="text-muted">
                                ({{ post.created_at }}) By 
                                @{{ post.user.username }}

                            </small>
                        </div>
                        
                        <br>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header">Follows</h5>
                    <div class="card-body">
                        <strong>Follows</strong><br>
                        {% for following in profile.follows.all %}
                            <a href="{% url 'profile' following.user.id %}">@{{ following.user.username }}</a><br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="card">
                    <h5 class="card-header">Followed By</h5>
                    <div class="card-body">
                        <strong>Followed By</strong><br>
                        {% for follower in profile.followed_by.all %}
                            <a href="{% url 'profile' follower.user.id %}">@{{ follower.user.username }}</a><br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <form method="POST" action="{% url 'follow_unfollow' profile.user.id %}">
                    {% csrf_token %}
                    {% if request.user.profile != profile %}
                        {% if profile in request.user.profile.follows.all %}
                            <!-- If the logged-in user is following the profile, show the Unfollow button -->
                            <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                                Unfollow @{{ profile.user.username|lower }}
                            </button>
                        {% else %}
                            <!-- If the logged-in user is not following the profile, show the Follow button -->
                            <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                                Follow @{{ profile.user.username|lower }}
                            </button>
                        {% endif %}
                    {% endif %}
                </form>
                <br>
                {% if user.profile.id == profile.user.id %}
                    <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Update Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
